fastapi==0.111.0
uvicorn==0.24.0
gunicorn==21.2.0
lightgbm==4.4.0
catboost==1.2
onnxruntime==1.17.0
prometheus-client==0.17.0
prometheus-fastapi-instrumentator==6.0.0
pandas
numpy
joblib
osmnx>=1.9
networkx>=3.0
shapely>=2.0
geopandas>=0.14
pyproj>=3.6
rtree>=1.2
